/* Benefits =================================================== */

.benefits {
  position: relative;
}

.benefits__anchor {
  left: 0;
  position: absolute;
  top: -55px;
}

.benefits__headline-wrapper {
  background: $light-gray;
  padding: 50px 0;
}

.benefits__headline {
  @extend %headline2;
  color: #3D3D3C;
}

.benefits__items {
  display: grid;
  grid-column-gap: 240px;
  grid-row-gap: 60px;
  grid-template-columns: calc(33.333% - 160px) calc(33.333% - 160px) calc(33.333% - 160px);
  grid-template-rows: auto;
  margin: 100px 0 0;
}

.benefits__item {
  grid-column: auto / auto;
}

.benefits__image {
  margin: 0 0 25px;
}

.benefits__title {
  @extend %headline4;
  color: $gray;
}

.benefits__text {
  @extend %text-style;
  color: $med-gray;
  margin: getMargin(16, .5) 0 0;
}

.benefits__button {
  @extend %button;
  margin: 110px 0 0;
}

.benefits__button::before {
  transform: rotate(180deg);
}

.benefits__button:hover {
  color: $orange;
}

.benefits__button:hover::before {
  background: url('assets/images/HF_CTA_Arrow_Btn_Orange.svg') center center no-repeat;
}

/* Careers Banner =================================================== */

.careers-banner-wrapper {
  @extend %transition;
  background: $orange;
	//border-bottom: 1px solid $med-gray;
  position: relative;
  width: 100%;
  
  .op-row {
    pointer-events: auto;
  }
}

.careers-banner__anchor {
  left: 0;
  position: absolute;
  top: -57px;
}

.careers-banner {
  align-items: center;
	column-gap: 30px;
  display: flex;
  justify-content: center;
  min-height: 100px;
  padding: 15px 0 30px;
  width: 100%;
}

.careers-banner__text {
  @extend %headline3;
  color: #fff;
	flex: 0 1 auto;
  margin: 15px 0 0;
}

.careers-banner__button {
  @extend %button;
  color: #fff;
	flex: 0 0 auto;
  margin: 15px 0 0;
}

.careers-banner__button::before {
  background: url('assets/images/HF_CTA_Arrow_Btn_White.svg') center left no-repeat;
  transform: rotate(270deg);
}

/* Careers Opportunities =================================================== */

.hero + .careers,
.careers-banner-wrapper + .careers {
	margin-top: 0;
}

.careers {
  margin: 50px 0 0;
  position: relative;
}

.careers__anchor {
  left: 0;
  position: absolute;
  top: -60px;
}

.careers__headline-wrapper {
  background: $light-gray;
  padding: 50px 0;
}

.careers__headline {
  @extend %headline2;
  color: #3D3D3C;
}

.career-list {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: auto;
  margin: 0 -45px;
  transition: all .2s $ease-in-out-sine;
}

.career-list-career {
  //@extend %transition;
  //border-bottom: 2px solid #DFDFDF;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  min-height: 515px;
  overflow: hidden;
  position: relative;
  transition: all .2s $ease-in-out-sine;
}

// add the bottom border this way so that it doesn't show when max-height is 0
.career-list-career::after {
  background: #DFDFDF;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: all .2s $ease-in-out-sine;
  width: 100%;
}

.career-list-career--hidden {
  max-height: 0;
  min-height: 0;
}

.career-list-career--hidden::after {
  max-height: 0;
}

.career-list-career:nth-child(3n - 1),
.career-list-career:nth-child(3n - 2) {
  border-right: 2px solid #DFDFDF;
}

.career-list-career:hover,
.career-list-career--over {
  background: #000;
  
  .career-list-career__title {
    color: #fff;
  }
  
  .career-list-career__title::before {
    background: $gray url('assets/images/HF_CTA_Minus_Btn.svg') center center no-repeat;
    background-size: 11px 11px;
    border-radius: 12px;
    content: '';
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
  }
	
  .career-list-career__category {
    max-height: 0;
    padding-top: 0;
    transition: all .2s ease-in-out;
  }
  
  .career-list-career__text {
    max-height: 1000px;
    // add delay on mouse over
    transition: all .8s $ease-in-out-quad .2s;
  }

  .career-list-career__link {
    color: #fff;
  }
  
  .career-list-career__link:hover {
    color: $orange;
  }
}

.career-list-career__content {
  padding: 45px 30px 0;
  transition: all .2s $ease-in-out-sine;
}

.career-list-career__category {
  @extend %headline4;
  color: $orange;
  max-height: 100px;
  overflow: hidden;
  padding: 15px 15px 0;
  // add a delay on mouse out
  transition: all .2s ease-in-out .6s;
  transition: all .2s $ease-in-out-sine .6s;
}

.career-list-career__title {
  @extend %headline3;
  //@extend %transition;
  color: $gray;
  padding: 0 40px 0 15px;
  position: relative;
  transition: all .2s $ease-in-out-sine;
  width: calc(100% - 40px);
}

.career-list-career__title::before {
  @extend %transition;
  background: #000 url('assets/images/HF_CTA_Plus_Btn.svg') center center no-repeat;
  background-size: 11px 11px;
  border-radius: 12px;
  content: '';
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
}

.career-list-career__category + .career-list-career__title {
  margin-top: getMargin(26, .25);
}

.career-list-career__text {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  // no delay on mouse out
  transition: all .8s $ease-in-out-quad 0s;
}

.career-list-career__para {
  @extend %text-style;
  color: #979797;
  margin: getMargin(16) 0 0;
}

.career-list-career__links {
  margin: getMargin(14) 0 0;
}

.career-list-career__link {
  @extend %text-style-small;
  @extend %transition;
  color: #979797;
  font-family: "GakSansBold", sans-serif;
  letter-spacing: 1px;
  margin: 0 35px 0 0;
}

.career-list-career__obj-fit-image-wrapper {
	@extend %background-image;
  height: 0;
  margin: 25px 30px 30px;
  overflow: hidden;
  padding-bottom: 59%;
  position: relative;
  width: calc(100% - 60px);
}

.career-list-career__obj-fit-image {
	@extend %object-fit;
}

.career-list__button {
  @extend %button;
  display: none;
  margin: 55px 0;
}

.career-list__button::before {
  background: #000 url('assets/images/HF_CTA_Plus_Btn.svg') center center no-repeat;
  background-size: 11px 11px;
  border-radius: 12px;
  height: 24px;
  width: 24px;  
}

/* Careers Form =================================================== */

.careers-popup-form {  
  background: #f5f5f5;
  margin: 0 0 0 -8px;
  width: calc(100% + 16px) !important;
  .op-row {
    align-items: center;
    min-height: 100vh;
  }
}

.careers-popup-form__job-title-field {
  height: 0;
  overflow: hidden;
}

.careers-popup-form__job-title {
  @extend %headline2;
  padding: 0 250px 0 0;
}

.careers-popup-form__close {
  @extend %button;
  color: #fff;
  margin: 15px 0 0;
  position: absolute;
  right: 0;
  top: 68px !important;
}

.careers-popup-form__close::after {
  @extend %transition;
  color: $orange;
  content: 'Back to the opportunities';
  text-transform: none;
}

.careers-popup-form__close::before {
  background: url('assets/images/HF_CTA_Arrow_Btn_Orange.svg') center left no-repeat;
  transform: rotate(270deg);
}

.careers-popup-form__close:hover {
  color: #000;
}

.careers-popup-form__close:hover::before {
  background: url('assets/images/HF_CTA_Arrow_Btn_Black.svg') center left no-repeat;
}

.careers-popup-form__close:hover::after {
  color: #000;
}

.careers-popup-form__radio {
  display: flex;
  flex-wrap: wrap;
  margin: 75px 0 0;
  
  .gfield_label {
    @extend %text-style-large;
    align-items: center;
    color: #979797;
    display: flex;
    flex: 0 0 580px;
  }
  
  .validation_message {
    flex: 0 0 100%;
    margin-top: 25px !important;
  }
  
}

.careers-popup-form__file-upload {
  margin: 75px 0 0;
  .gfield_label {
    @extend %headline3;
    color: #858685;
  }
  .validation_message {
    margin-top: 25px !important;
  }
}

.careers-popup-form__radio + .careers-popup-form__radio {
  margin-top: 50px;
}

.careers-popup-form__button {
  @extend %button;
  margin: 40px 0 0;
	max-height: 40px;
	transition: all .2s ease-in-out;
}

.careers-popup-form__button--hidden {
	max-height: 0;
	overflow: hidden;
}

.careers-popup-form__button::before {
  background: #000 url('assets/images/HF_CTA_Plus_Btn.svg') center center no-repeat;
  background-size: 11px 11px;
  border-radius: 12px;
  height: 24px;
  width: 24px;
}

.careers-popup-form__button:hover {
  color: $orange;
}

.careers-popup-form__button:hover::before {
  background-color: $orange;
}



.careers-popup-form__past-employment {
	@extend %transition;
	max-height: 0;
	overflow: hidden;
}

.careers-popup-form__past-employment--visible {
	max-height: 105px;
}

/* Hero =================================================== */

.hero {
  display: flex;
  flex-direction: column;
	min-height: 100svh;
  position: relative;
  z-index: map-get($zindex, page);
}

.hero__obj-fit-image-wrapper {
	@extend %background-image;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1
}

.hero__obj-fit-image {
	@extend %object-fit;
}

.hero__headline-wrapper {
  align-items: center;
  display: flex;
  flex: 1 0 calc(100% - 75px);
  padding: 75px 0 0;
  z-index: map-get($zindex, page);
}

.hero__headline {
  @include fontSize(115);
  @include lineHeight(115, 5);
  color: #fff;
  font-family: urw-din, sans-serif;
  font-weight: 300;
  text-align: center;
}

.hero__nav {
  align-items: center;
  display: flex;
  flex: 0 0 100px;
  width: 100%;
  z-index: map-get($zindex, page);
}

.hero__nav--careers {
	.hero-menu__item {
	  @include fontSize(32);
	  @include lineHeight(32);
	}
}

.hero-menu {
  text-align: center;
}

.hero-menu__item {
  @include fontSize(25);
  @include lineHeight(25);
  color: #fff;
  display: inline-block;
  font-family: urw-din, sans-serif;
  font-weight: 300;
  list-style: none;
}

.hero-menu__item + .hero-menu__item {
  margin-left: 30px;
  padding-left: 40px;
  position: relative;
}

.hero-menu__item + .hero-menu__item::before {
  content: '|';
  left: -2px;
  position: absolute;
  top: 0;
}

.hero-menu__link {
  @extend %transition;
  color: inherit;
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
	.hero-menu__link:hover {
	  color: $orange;
	}
}

@media (pointer: coarse) {
	.hero-menu__link {
		transition: none;
	}
	.hero-menu__link:active {
	  color: $orange;
	}
}

/* Map & Location =================================================== */

.map-and-location {
  margin: 100px 0 0;
  position: relative;
}

.map-and-location__anchor {
  left: 0;
  position: absolute;
  top: -75px;
}

.map-and-location__headline {
  @extend %headline2;
  align-items: center;
  display: flex;
  height: 100%;
}

.map-and-location__text {
  @extend %headline4;
  color: $dark-gray;
}

.map-and-location__phone {
  margin: getMargin(20) 0 0;
}

.map-and-location__email {
  white-space: nowrap;
}

.map-and-location__link {
  @extend %transition;
  color: $orange;
  text-decoration: none;
}

.map-and-location__link:hover {
  color: #000;
}

.map-and-location__image-wrapper {
  height: 0;
  margin: 50px 0 0;
  overflow: hidden;
  padding-bottom: 53%;
  position: relative;
  width: 100%;
}

.map-and-location__obj-fit-image-wrapper {
	@extend %background-image;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.map-and-location__obj-fit-image {
	@extend %object-fit;
}

.map-and-location__map {
  height: 0;
  margin: 50px 0 0;
  overflow: hidden;
  padding-bottom: 53%;
  position: relative;
  width: 100%;
}

/* Ribbon =================================================== */

.ribbon-wrapper {
  @extend %transition;
  background: $orange;
  opacity: 0;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  width: 100%;
  z-index: -1;
  
  .op-row {
    pointer-events: auto;
  }
}

.ribbon-wrapper--hidden {
  max-height: 0 !important;
}

.ribbon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding: 15px 0 30px;
  width: 100%;
}

.ribbon__text {
  @extend %headline3;
  color: #fff;
  margin: 15px 0 0;
}

.ribbon__button {
  @extend %button;
  color: #fff;
  margin: 15px 0 0;
}

.ribbon__button::before {
  background: url('assets/images/HF_CTA_Arrow_Btn_White.svg') center left no-repeat;
  transform: rotate(270deg);
}

.ribbon__button:hover {
  color: #000;
}

.ribbon__button:hover::before {
  background: url('assets/images/HF_CTA_Arrow_Btn_Black.svg') center left no-repeat;
}

/* Slideshow =================================================== */

.slideshow {
  background: #000;
  overflow: hidden;
  padding: 125px 0 150px;
}

.slideshow__headline {
  @extend %headline1;
  color: #fff;
  text-align: center;
}

.slideshow__images {
  position: relative;
  margin: 150px 0 0 -175px;
  width: 1950px;
  
  .swiper-wrapper {
    padding: 50px 0 0;
  }
  
  .swiper-slide:nth-child(odd) {
    margin-top: -50px;
  }
}

.slideshow__obj-fit-image-wrapper {
	@extend %background-image;
  height: 390px;
  position: relative;
  width: 350px;
}

.slideshow__obj-fit-image {
  @extend %object-fit;
}

/* Testimonials =================================================== */

.testimonials {
  background: #000;
  margin: 60px 0 0;
  overflow: hidden;
  padding: 100px 0 120px;
  position: relative;
}

.testimonials__anchor {
  left: 0;
  position: absolute;
  top: -55px;
}

.testimonials__headline {
  @extend %headline2;
  color: #fff;
  text-align: center;
}

.testimonials__items {
  margin: 0 0 90px;
  padding: 75px 0 0;
}

.testimonials__quote {
  @include fontSize(24);
  @include lineHeight(24, 1.5);
  color: #fff;
  text-align: center;
}

.testimonials__cite {
  @include fontSize(21);
  @include lineHeight(21);
  color: #E8E8E8;
  margin: 30px 0 0;
  text-align: center;
}

.testimonials__job-title {
  @include fontSize(19);
  @include lineHeight(19);
  color: #5B5B5B;
  font-style: normal;
  margin: 0 0 0 10px;
}

.testimonials-pagination {
  margin: 80px 0 0;
  text-align: center;
}

.testimonials-pagination__bullet {
  @extend %transition;
  background-color: $gray;
  cursor: pointer;
  display: inline-block !important;
  height: 3px !important;
  margin: 0 5px;
  width: 17px !important;
}

.testimonials-pagination__bullet--active {
  background-color: $orange;
}

.testimonial__images {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 1990px;
  
  .swiper-wrapper {
    padding: 50px 0 0;
  }
  
  .swiper-slide {
    @extend %transition;
  }
  
  .swiper-slide-active {
    margin-top: -50px;
  }
}

.testimonial__obj-fit-image-wrapper {
	@extend %background-image;
  height: 390px;
  position: relative;
  width: 350px;
}

.testimonial__obj-fit-image {
  @extend %object-fit;
}

/* Two Column with Image =================================================== */

.two-column-with-image {
  margin: 50px 0 0;
}

.two-column-with-image__headline {
  @extend %headline2;
  color: #3D3D3C;
  margin: 80px 0 0;
}

.two-column-with-image__content {
  margin: 180px 0 0;
}

.two-column-with-image__content + .two-column-with-image__items {
  margin: 80px 0 0;
}

.two-column-with-image__items {
  display: grid;
  grid-column-gap: 45px;
  grid-row-gap: 55px;
  grid-template-columns: calc(50% - 30px) calc(50% - 30px);
  grid-template-rows: auto;
  margin: 175px 0 0;
}

.two-column-with-image__item {
  grid-column: auto / auto;
}

.two-column-with-image__subhead {
  @extend %headline4;
  color: #000;
}

.two-column-with-image__text {
  @extend %text-style;
  color: $med-gray;
  margin: getMargin(16, .5) 0 0;
}

.two-column-with-image__button {
  @extend %button;
  display: inline-flex;
  margin: 110px 0 60px;
}

.two-column-with-image__button:hover {
  color: $orange;
}

.two-column-with-image__button:hover::before {
  background: url('assets/images/HF_CTA_Arrow_Btn_Orange.svg') center center no-repeat;
}

.two-column-with-image__images {
  height: 0;
  overflow: hidden;
  padding-bottom: 106.66%;
  position: relative;
  width: 100%;
  
  .swiper-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.two-column-with-image__obj-fit-image-wrapper {
	@extend %background-image;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.two-column-with-image__obj-fit-image {
  @extend %object-fit;
}

/* Two Column with Video =================================================== */

.two-column-with-video {
  margin: 50px 0 0;
}

.two-column-with-video__headline {
  @extend %headline2;
  color: #3D3D3C;
  margin: 80px 0 0;
}

.two-column-with-video__content {
  margin: 75px 0 0;
}

.two-column-with-video__content + .two-column-with-video__items {
  margin: 75px 0 0;
}

.two-column-with-video__items {
  display: grid;
  grid-column-gap: 240px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(3, calc(33.333% - 160px));
  grid-template-rows: auto;
  margin: 75px 0 0;
}

.two-column-with-video__item {
  grid-column: auto / auto;
}

.two-column-with-video__subhead {
  @extend %headline4;
  color: #000;
}

.two-column-with-video__text {
  @extend %text-style;
  color: $med-gray;
  margin: getMargin(16, .5) 0 0;
}

.two-column-with-video__button {
  @extend %button;
  display: inline-flex;
  margin: 110px 0 60px;
}

.two-column-with-video__button:hover {
  color: $orange;
}

.two-column-with-video__button:hover::before {
  background: url('assets/images/HF_CTA_Arrow_Btn_Orange.svg') center center no-repeat;
}

.two-column-with-video__video {
  margin: 75px 0 0;
  position: relative;
}

