/* Footer =================================================== */

.footer {
 padding: 40px 0 25px;
}

.footer__copyright {
  @extend %text-style-small;
  color: #979797;
  display: inline-block;
}

.footer-menu {
  display: inline-block;
  margin: 0 0 0 120px;
}

.footer-menu__item {
  @extend %text-style-small;
  color: #979797;
  display: inline-block;
  list-style: none;
  margin: 0 20px 0 0;
}

.footer-menu__link {
  @extend %transition;
  color: inherit;
  text-decoration: none;
}

.footer-menu__link:hover {
  color: $orange;
}

.footer__utility {
  display: flex;
  justify-content: flex-end;
}

/* Social Media =================================================== */

.social-media {
	display: flex;
}

.social-media__item {
	@extend %transition;
	@include fontSize(12);
	align-items: center;
	background: #000;
	border-radius: 12px;
	color: #fff;
  cursor: pointer;
	display: flex;
	height: 24px;
	justify-content: center;
	list-style: none;
	width: 24px;
}

.social-media__item:hover {
	background: $orange;
}

.social-media__item + .social-media__item {
	margin-left: 30px;
}

.social-media__link {
	@extend %transition;
	color: inherit;
	text-decoration: none;
}

.social-media__link::before {
	@extend %transition;
}

/* Back to Top =================================================== */

.footer__back-to-top {
  @extend %transition;
  background: url('assets/images/HF_CTA_Arrow_Btn_Black.svg') center center no-repeat;
  display: inline-block;
  height: 25px;
  margin: 0 0 0 30px;
  transform: rotate(180deg);
  width: 24px;
}

.footer__back-to-top:hover {
  background: url('assets/images/HF_CTA_Arrow_Btn_Orange.svg') center center no-repeat;
}

@media only screen and (max-width: 990px) {
  .footer-menu {
    margin: 0 0 0 30px;
  }
  .footer__utility {
    justify-content: flex-start;
    margin: 30px 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .footer__utility {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 480px) {
  .footer__copyright {
    display: block;
  }
  .footer-menu {
    display: block;
    margin: 0;
  }
}
